{
    "presets": ["react-app", "@emotion/babel-preset-css-prop"],
    "plugins": [
        [
            "emotion",
            {
                // sourceMap is on by default but source maps are dead code eliminated in production
                "sourceMap": true,
                "autoLabel": true,
                "labelFormat": "[local]",
                "cssPropOptimization": true
            }
        ]
    ],

    "env": {
        "production": {
            "presets": [
                "react-app",
                [
                    "@emotion/babel-preset-css-prop",
                    {
                        "sourceMap": false,
                        "autoLabel": true,
                        "labelFormat": "[local]",
                        "cssPropOptimization": true
                    }
                ]
            ],
            "plugins": [
                [
                    "emotion",
                    {
                        // sourceMap is on by default but source maps are dead code eliminated in production
                        "sourceMap": false,
                        "autoLabel": true,
                        "labelFormat": "[local]",
                        "cssPropOptimization": true
                    }
                ]
            ]
        }
    }
}
