{
    "presets": [
        "react-app",
        [
            "@emotion/babel-preset-css-prop",
            {
                "autoLabel": true,
                "labelFormat": "[local]",
                "useBuiltIns": false,
                "throwIfNamespace": true
            }
        ]
    ]
}
